<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="main.css" rel="stylesheet">
    <title>Document</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Permanent+Marker&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
</head>

<body>
    <h1>p5node</h1>
    <a href="https://github.com/StinkyDubeau/p5node">@StinkyDubeau 2025</a>
    <h2>Press any key to take control.</h2>

    <!-- The following div will contain your sketch. Move this div to position it. -->
    <div id="canvas-container"></div>

    <!-- CDN for p5js -->
    <script src="https://cdn.jsdelivr.net/npm/p5@1.9.0/lib/p5.js"></script>
    <!-- This is where we pass data into the sketch. -->
    <!-- We only render the sketch if there is succfessful data passing. -->
    <!-- Otherwise, we would not be able to position properly. -->
    <% if (locals.toRender) { %>
        <script>
            const sketchData = '<%- toRender %>';
        </script>
        <script src="sketch.js"></script>
        <% } %>
</body>

</html>