<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="main.css" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <h1>Hello! This is a demo project to show p5node working.</h1>
    <h2>Press any key to take control.</h2>

    <!-- The following div will contain your sketch. Move this div to position it. -->
    <div id="canvas-container"></div>

    <!-- CDN for p5js -->
    <script src="https://cdn.jsdelivr.net/npm/p5@1.9.0/lib/p5.js"></script>
    <!-- This is where we pass data into the sketch. -->
    <!-- We only render the sketch if there is succfessful data passing. -->
    <!-- Otherwise, we would not be able to position properly. -->
    <% if (locals.toRender) { %>
        <script>
            const sketchData = '<%- toRender %>';
        </script>
    <script src="sketch.js"></script>
    <% } %>
</body>

</html>